body {
    fond-family: Arial, sans-serif;
    background-color: rgb(75, 86, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.card {
    background-color: rgba(213, 213, 230, 0.641);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px;
    rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card img {
    border-radius: 5%;
    width: 100px;
    margin-bottom: 15%;
}

.card h1 {
    fond-size: 24px;
    margin: 10px;
}

.card p {
    fond-size: 40px;
    color: dimgrey;
}

.buttons a {
    display: inline-block;
    /* Permite aplicar ancho, alto y márgenes */
    background: hsl(211, 89%, 41%);
    /* Naranja complementario al azul */
    color: white;
    /* Texto blanco para contraste */
    padding: 0.8rem 1.5rem;
    /* Tamaño interno del botón */
    border-radius: 8px;
    /* Bordes redondeados */
    text-decoration: none;
    /* Quita subrayado en botones tipo enlace */
    margin-top: 1rem;
    /* Espacio superior respecto al contenido */
}

.buttons a:hover {
    background-color: cadetblue;
}